<div class="main-visual">
  <div class="card">
    <%= image_tag("mv.png", alt: "no-image", style: "height:650px; width: 100%;", class:"card-img") %>
    <div class="card-img-overlay d-flex flex-column align-items-center">
      <p style="font-size:64px; color:#FAFAFA; padding-top:200px; padding-bottom:10px;">Lorem lpsum</p>
      <p style="font-size:20px; color:#FAFAFA;">simply dummy text of the printing</p>
    </div>
  </div>
</div>


<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary rounded-2" tabindex="0">
  <div id="scrollspyHeading1">
    <div class="d-flex flex-column align-items-center" style="background-color:#ECEFF1; width:100%;">
      <div class="d-flex flex-column align-items-center " style="width:920px;">
        <p style="font-size: 32px; color: #000000; padding-top: 90px;">Portfolio</p>
        <span class="border-top border-3" style="height:3px; width:70px; background-color:#EC715F; margin-bottom:30px;"></span>
        <p class="text-center" style="font-size:16px; color: #000000; padding-bottom: 25px;">It is a long established fact that a reader will be distracted by the readable</br>
           content of a page when looking at its layout.</br>
           The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
      </div>
      <div class="d-flex" style="width:920px; flex-wrap:wrap; padding-bottom:85px;">
        <%= image_tag("sketch.jpg", alt: "no-image", style: "height:250px; width: 300px; padding:5px;") %>
        <%= image_tag("websuku.png", alt: "no-image", style: "height:250px; width: 300px; padding:5px;") %>
        <%= image_tag("write.jpg", alt: "no-image", style: "height:250px; width: 300px; padding:5px;") %>
        <%= image_tag("webcamp.png", alt: "no-image", style: "height:250px; width: 300px; padding:5px;") %>
        <%= image_tag("talk.jpg", alt: "no-image", style: "height:250px; width: 300px; padding:5px;") %>
        <%= image_tag("webcamp-mother.png", alt: "no-image", style: "height:250px; width: 300px; padding:5px;") %>
      </div>
    </div>
  </div>
  
  
  <div class="d-flex flex-column align-items-center" id="scrollspyHeading2">
    <div class="d-flex flex-column align-items-center" style="padding-top:90px; width:980px;">
      <p style="font-size:32px; color:#000000; padding-bottom:8px;">Feature</p>
      <span class="border-top border-3" style="height:3px; width:70px; background-color:#EC715F; margin-bottom:30px;"></span>
      <p class="text-center" style="font-size:16px; color: #000000;">It is a long established fact that a reader will be distracted by the readable</br>
         content of a page when looking at its layout.</br>
         The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
    </div>
    <div class="d-flex flex-row" style="padding-top:30px; padding-bottom:90px;">
      <div style="width:320px; padding-right:10px;">
        <div class="text-center">
        <i class="fa-solid fa-code" style="font-size: 60px; padding-bottom: 10px;"></i>
        </div>
        <p class="text-center" style="font-size:20px; color:#000000;">Strength1</p>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>
      </div>
      
      <div style="width:320px; padding-right:10px;">
        <div style="width:320px; padding-right:10px;">
          <div class="text-center">
            <i class="fa-sharp fa-solid fa-desktop" style="font-size: 60px; padding-bottom: 10px;"></i>
          </div>
          <p class="text-center" style="font-size:20px; color:#000000;">Strength2</p>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>
        </div>
      </div>
      
      <div style="width:320px; padding-right:10px;">
        <div style="width:320px; padding-right:10px;">
          <div class="text-center">
            <i class="fa-solid fa-gears" style="font-size: 60px; padding-bottom: 10px;"></i>
          </div>
          <p class="text-center" style="font-size:20px; color:#000000;">Strength3</p>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>
        </div>
      </div>
    </div>
  </div>
  
  <div id="scrollspyHeading3">
    <div class="d-flex flex-column align-items-center" style="background-color:#ECEFF1; width:100%;">
      <div class="d-flex flex-column align-items-center" style="width:1024px; padding-bottom:30px;">
        <p style="font-size: 32px; color: #000000; padding-top: 90px; padding-bottom: 8px;">Profile</p>
        <span class="border-top border-3" style="height:3px; width:70px; background-color:#EC715F; margin-bottom:30px;"></span>
         <p class="text-center" style="font-size:16px; color: #000000;">It is a long established fact that a reader will be distracted by the readable</br>
           content of a page when looking at its layout.</br>
           The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
      </div>
      
      <div class="d-flex flex-row" style="padding-bottom:90px;">
        <div class="text-center" style="width:512px;">
          <%= image_tag("my-icon.jpg", alt: "no-image", style: "height:250px; width: 250px;", class:"rounded-circle") %>
        </div>
        <div style="width:512px;">
          <p style="font-size:20px; padding-bottom:5px;">MyName</p>
          <p style="font-size:16px; color:#000000; padding-bottom:20px;">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>
          <p style="font-size:20px; padding-bottom:5px">MySkills</p>
          <p style="font-size:16px; color:#000000;">HTML/CSS,JavaScript,JQuery,PhotoShop</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="d-flex flex-column align-items-center" id="scrollspyHeading4">
    <div class="d-flex flex-column align-items-center" style="padding-top:90px; width:800px;">
      <p style="font-size:32px; color:#000000; padding-bottom:8px;">Contact</p>
      <span class="border-top border-3" style="height:3px; width:70px; background-color:#EC715F; margin-bottom:30px;"></span>
      <p class="text-center" style="font-size:16px; color: #000000; padding-bottom: 30px;">It is a long established fact that a reader will be distracted by the readable</br>
        content of a page when looking at its layout.</br>
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
    </div>
    
    <div class="d-flex flex-row" style="padding-bottom:90px;">
        <div class="d-flex flex-column align-items-center" style="width:400px;">
          <div style="padding-bottom:20px;">
            <p style="font-size:20px;">Mail</p>
            <a href="">xxx@gmail.com</a>
          </div>
          <div>
            <p style="font-size:20px;">Tel</p>
            <a href="">000-0000-0000</a>
          </div>
        </div>
        
        <div class="d-flex flex-column align-items-center" style="width:400px;">
          <div>
            <p style="font-size:20px; pading-bottom:5px;">SNS</p>
            <div class="d-flex flex-row ">
              <i class="fa-brands fa-facebook" style="font-size:50px; padding-right:20px;"></i>
              <i class="fa-brands fa-twitter" style="font-size:50px; padding-right:20px;"></i>
              <i class="fa-brands fa-instagram" style="font-size:50px;"></i>
            </div>
          </div>
        </div>
  </div>
</div>